{% extends 'base.html' %}
{% block content %}
<div class="login">
    <form action="{% url 'accounts:check_in'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center">
            <tr>
                <th colspan="2"><h2>Time Keeping</h2></th>
            </tr>
            <tr>{% if success_message %}
                
            
                <td colspan="2"> <h3>{{ success_message }}</h3><br>
                    {% endif %}
                </td>
            </tr>
                    <tr>
                        <td colspan="2"> 
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required><br>
                    </tr>
                <tr>
                    <td colspan="2">
                        <label> Password:</label> <input type="text" name="password"><br></td>
                </tr>
                <tr>
                    <td colspan="2">
                        </td>
                </tr>
                <tr>
                <td colspan="2">
                        <button class="timeout"type="submit" value="time_out">
                            Time Out
                    </button></td>
                </tr>
        </table>
    </form> 
</div>
{% endblock content %}