{% extends 'base.html' %}
{% block content %}
<div class="login">
    <form action="{% url 'accounts:success'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center">
            <tr>
                <th colspan="2"><h2>Time Keeping</h2></th>
            </tr>
                <tr>
                    <td colspan="2"> <label> Name:</label><br>
                        <input type="text" name="username">
                </tr>
                <tr>
                    <td colspan="2">
                        <label> Password:</label> <input type="text" name="password"><br></td>
                </tr>
                <tr>
                    <td colspan="2">
                        </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="timein">Time In
                    </button></td>
                </tr>
        </table>
    </form> 
</div>
{% endblock content %}