{% extends 'base.html' %}
{% block content %}
<div class="form-group">
    <form action="{% url 'accounts:time_in'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center">
            <tr>
                <th colspan="2"><h2>Time Keeping</h2></th>
            </tr>
            <tr>{% if error_message %}
                <td colspan="2"> <h3>{{ error_message }}</h3><br>
                    {% endif %}
            </tr>
                <tr>
                    <td colspan="2"> 
                        <label for="username">username:</label>
                        <input type="username" id="username" name="username" required><br>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required><br>
                    </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="btn btn-primary" type="submit" value="time_in">Time In
                    </button></td>
                </tr>
        </table>
    </form> 
</div>
{% endblock content %}