{% extends 'base.html' %}
{% block content %}
<div class="login">
            
        <form action="{% url 'accounts:time_out'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'time_record_list.html' %}
        <table align="center">
            <tr>
                <th colspan="2"><h2>Time Keeping</h2></th>
            </tr>
            <tr>{% if error_message %}
                <td colspan="2"> <h3>{{ error_message }}</h3><br>
                    {% endif %}
            </tr>
                    <tr>
                        <td colspan="2"> 
                            <label for="username">username:</label>
                            <input type="username" id="username" name="username" required><br>
                    </tr>
                <tr>
                    <td colspan="2">
                        <label> Password:</label> <input type="password" name="password"><br></td>
                </tr>
                <tr>
                <td colspan="2">
                        <button class="timeout"type="submit" value="time_out">
                            Time Out
                    </button></td>
                </tr>
        </table>
    </form> 

</div>
{% endblock content %}